<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>采摘</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
		<style type="text/css">
			.changee {
				display: inline-block;
			}
			.shangmian{
				position: relative;
				z-index: 20;
			}
			img{
				border-radius: 10px;
				margin: 10px 0;
			}
			div#qingmei p{
				font-size: 17px;
				line-height: 28px;
			}
			.bar::after{
				display: none;
			}
		</style>
	</head>

	<body>

			<div class="page" >
			<header class="bar bar-nav" style="background: none;z-index: 3000;border: none;outline: none;" >
			<a class="icon icon-left pull-left back" style="color: #fff;"></a>
			<a class="icon icon-search pull-right" style="color: #fff;"></a>
		</header>
			
			
			<div class="content" style="background-color: #fff;margin-top: -50px;">
				<div class="bar bar-nav" style="position: relative; height: 200px;color:#fff; background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537530366431&di=2ffed3e9293ff3511232882aadf0692c&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F4bed2e738bd4b31cdba40d988dd6277f9e2ff87d.jpg) 0px 0px no-repeat;">
				<!--遮罩层-->
				<div style="position: absolute;width: 4000px;height: 200px;background-color: rgba(0,0,0,0.2);left: 0px;"></div>
				


				</a>
				<h1 class="title" style="color: #ddd;margin-top: 1.5vh;">采摘
				</h1>
				<br />
				<br />
				<br />
				<p class="shangmian" style="color: #ddd; width: 300px; text-align: center;font-size: 17px;margin: 0 auto;">精品推荐<br /><span style="font-size: 16px;">亲身体验下采摘的乐趣，享受自己的劳动果实是多么甜美</span></p>
			</div>
				
				<div class="content-block">
				<div class="card-content" ><a href="#qingmei"><img style="border-radius: 8px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537531353441&di=e322cd9a6648e4cbf46143d2bd8a1c00&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dpixel_huitu%252C0%252C0%252C294%252C40%2Fsign%3D2f19b1f35a3d26973ade001d3c83d797%2F6159252dd42a2834bb6eba3250b5c9ea15cebf3b.jpg" width="100%"></a></div>
						<div class="card-footer no-border" style="border: none;padding: 0;">

							<div  style="padding: 0;width: 100%;font-size: 20px;">青梅
								<a href="#" class="button button-fill button-success yy" style="float: right;color: white;">&#x3000;预约&#x3000;</a>
							</div>
							
						</div>
						<div style="border: none;line-height: 20px;position: relative;" >
								<span class="changee" style="clear: both;width: 40px;height: 40px;"></span> 
								<div style="display: inline-block;position: absolute;font-size: 15px;">福州龙泉山庄</div>
								<div style="float: right;padding-right: 20px;color: #ccc;font-size: 12px;"><span id="yycount">10400</span>预约 <b>·</b> 7890评论</div>
							</div>
							</div>
							
							
							
							<div class="content-block">
				<div class="card-content" ><img style="border-radius: 8px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537531411055&di=7ce104c24ebd1ba88a9bd6ae672c0daa&imgtype=0&src=http%3A%2F%2Fwww.6a8a.com%2Fuploadfile%2F2017%2F1005%2F201611111729122542.jpg" width="100%"></div>
						<div class="card-footer no-border" style="border: none;padding: 0;">

							<div style="padding: 0;width: 100%;font-size: 20px;">榴莲
								<a href="#" class="yyy button button-dark button-fill" style="float: right;color: white;">&nbsp;已预约&nbsp;</a>
							</div>
							
						</div>
						<div style="border: none;line-height: 20px;position: relative;" >
								<span class="changee" style="clear: both;width: 40px;height: 40px;"></span> 
								<div style="display: inline-block;position: absolute;font-size: 15px;">福州龙泉山庄</div>
								<div style="float: right;padding-right: 20px;color: #ccc;font-size: 12px;">10400预约 <b>·</b> 7890评论</div>
							</div>
							</div>
							
							
							
				</div>
			</div>
		</div>
		
		
		
		<!--页面二-->
		<div class="page" id="qingmei">
			<header class="bar bar-nav" style=" position: relative; height: 200px;color:#fff; background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537531353441&di=e322cd9a6648e4cbf46143d2bd8a1c00&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dpixel_huitu%252C0%252C0%252C294%252C40%2Fsign%3D2f19b1f35a3d26973ade001d3c83d797%2F6159252dd42a2834bb6eba3250b5c9ea15cebf3b.jpg) 0px 0px no-repeat;background-size: 100% 100%;">
				<!--遮罩层-->
				<div style="position: absolute;width: 4000px;height: 200px;background-color: rgba(0,0,0,0.2);left: 0px;"></div>
				
				<a  class="button button-link button-nav pull-left back" href="/demos/card" data-transition='slide-out'>
					<span class="icon icon-left" style="color: #fff;"></span>
				</a>
				<h1 class="title" style="color: #ddd;">青梅
				</h1>
				<br />
				<br />
				<br />
				
			</header>
			
			<div class="content" style="background-color: #fff;margin-top: 150px;">
				
				<div class="content-block infinite-scroll" style="text-align: center; "data-distance="50">
					
					<h3>福建龙泉山庄<br />
					<span style="font-weight: 400;color: #999;font-size: 18px;">营业时间： 8:00-22:00</span><br />
					<span style="font-weight: 400;color: limegreen;font-size: 13px;">地址：南屿镇双龙村(伏见黎明职业技术学院对面)<br />电话：4000791225,0591-22809118</span>
					</h3><br />
					
					<p>说到青梅<br />
					就感觉牙齿一酸~<br />
					一般的青梅会用来酿酒，<br />
					很大程度上是因为本身口感比较酸
					<img src="https://gss3.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/baike/w%3D268%3Bg%3D0/sign=b58b4fb5d3f9d72a1764171bec114f09/0ff41bd5ad6eddc4fe1d9f7133dbb6fd53663345.jpg"  width="100%"/>
					西班牙甜嘴青梅没有酸味，<br />
					口感非常惊艳，<br />
					甚至可以比肩美国的绿宝石布林。<br />
					<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537816816538&di=393cdc632878b3b62d2e2034b0bfc469&imgtype=0&src=http%3A%2F%2F71.s21i-4.faidns.com%2F4240071%2F2%2FABUIABACGAAgno6PoQUotqj8ogMw1wU42QU.jpg"  width="100%"/>
					个头圆润，小巧精致，<br />
					果皮色泽很像绿宝石；<br />
					果肉是青绿色，<br />
					更成熟的时候是黄绿色。<br />
					有独特的香味，<br />
					清脆中带着细腻，<br />
					第一口要下去酸中带甜。<br />
					</p>
					
					
					
					
					
					
					<div class="list-block">
              <ul class="list-container">
              	<p>———— 评论专区 ————</p>
              	<!--评论-->
              	<div class="pingfen" style="height: 300px;text-align: left;">
              		<div class="head" style="width: 50px;height: 200px;float: left;"></div>
              		<div class="right" style="height: 200px;float: left;width: calc(100% - 50px);">
              			<div class="name" style="font-size: 22px;width: 100%;">Laurina
              			<div style="float: right;font-size: 14px;">
              				2017.10.23
              			</div>
              			</div>
              			
              			<!--评分-->
              			<div style="font-size: 14px;">
              				评分：<span style="color: darkorange;font-size: 22px;">★★★★☆ </span>
              			</div>
              			<div style="font-size: 16px;margin-top: 10px;">嗯...味道很甜，又很大个。第一次吃到这么好吃的草莓，服务也很不错，环境很美。在那边摘草莓感觉一个礼拜的压力都没了。</div>
              			
              			<div style="font-size: 14px;margin: 10px 0;padding: 5px ; background-color: #eee;color: #bbb;width: 100%;">商家回复（1天后）：欢迎下次光临，您的好评就是我们的动力。</div>
              			
              		</div>
              		
              	</div>
              	
              	
              	
              	<!--评论-->
              	<div class="pingfen" style="height: 250px;text-align: left;">
              		<div class="head" style="width: 50px;height: 200px;float: left;"></div>
              		<div class="right" style="height: 200px;float: left;width: calc(100% - 50px);">
              			<div class="name" style="font-size: 22px;width: 100%;">Laurina
              			<div style="float: right;font-size: 14px;">
              				2017.10.22
              			</div>
              			</div>
              			
              			<!--评分-->
              			<div style="font-size: 14px;">
              				评分：<span style="color: darkorange;font-size: 22px;">★★★★☆ </span>
              			</div>
              			<div style="font-size: 16px;margin-top: 10px;">嗯...味道很甜，又很大个。第一次吃到这么好吃的草莓，服务也很不错，环境很美。在那边摘草莓感觉一个礼拜的压力都没了。</div>
              			
              			<div style="font-size: 14px;margin: 10px 0;padding: 5px ; background-color: #eee;color: #bbb;width: 100%;">商家回复（2天后）：谢谢~欢迎下次光临，您的好评就是我们的动力。</div>
              			
              		</div>
              		
              	</div>
              	
              	
              	
              	
              	
              	
              	<br />
              <div class="button button-fill button-success yy" style="height: 50px; position: fixed;bottom: 0;width: 100%;left: 0;border-radius: 0;line-height: 50px;font-size: 22px;z-index: 900;">预 约</div>
              </ul>
          </div>
					
					
					
					
				</div>
				
							
				
			</div>
		</div>
		
		

		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
		<script type="text/javascript">
			var a = 0;
			
			$('.yy').click(function(){
				if(a==0){
					a=1;
					$('.yy').html('&nbsp;已预约&nbsp;')
					$('#yycount').text(10401)
					$('.yy').removeClass('button-success')
					$('.yy').addClass('button-dark')
					$.toast("预约成功");
				}else{
					$.toast("您已预约");
				}
			})
			
			if(a==1){
					
					$('.yy').html('&nbsp;已预约&nbsp;')
					$('#yycount').text(10401)
					$('.yy').removeClass('button-success')
					$('.yy').addClass('button-dark')
				}
			
			
			$('.yyy').click(function(){
				
					$.toast("您已预约");
				
			})
			
			
			
		</script>
	</body>

</html>