<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>我的生活</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		<link rel="stylesheet" href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
		<link rel="stylesheet" type="text/css" href="../shou.css" />
		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
	</head>
<style type="text/css">
		.content-block-title {
			margin: 0.1rem;
		}
		
		.pbig {
			margin: 0;
			font-size: 0.9rem;
			color: black;
		}
		
		.psmall {
			height: 2rem;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		
		.card,
		.content-block-title+.card,
		.content-block-title+.content-block,
		.content-block-title+.list-block {
			margin: 0;
		}
		
		.swiper-container-horizontal>.swiper-pagination {
			bottom: 0;
		}
	</style>
	<body>
<div class="page-group">
	
	<div class="page">
		<header class="bar bar-nav">
			<img src="./imgs/电量条750白.png" />
			<a class="icon icon-left pull-left back"></a>
			<a class="icon icon-search pull-right"></a>
		</header>
		<div class="content">
			<!-- Slider -->
			<div class="swiper-container swiper-container1" data-space-between='10' data-autoplay="2000" data-loop="true">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="imgs/jdnav1.jpg"></div>

					<div class="swiper-slide"><img src="imgs/jdnav2.jpg" alt=""></div>

					<div class="swiper-slide"><img src="imgs/jdnav3.jpg" alt=""></div>
				</div>
			</div>

			<!--心玩野-->
			<div class="content-block">
				<div class="swiper-container swiper-container3" data-space-between='10'>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="content-block-title">
								<div class="content-padded">
									<p class="pbig">心玩野了，就收不回来了</p>
								</div>
							</div>
							<div class="card facebook-card" style="box-shadow: none;">

								<div class="card-content"><img src="imgs/jdcontent1.jpg" width="100%"></div>
								<p class="psmall">
									人生不可能是一场说走就走的旅行，但心怀远方的人，一定要时刻做着说走就走的准备（^v^)咿呀快活啊反正有大把时光
								</p>
								<div class="card-footer">

									<a href="#" class="link">
										<img src="./imgs/tou1.png" style="width: 1.5rem;" />Laurina 在晋安
									</a>
									<a href="#" class="link">10100 浏览 · 7890 回复</a>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="content-block-title">
								<div class="content-padded">
									<p class="pbig">心玩野了，就收不回来了</p>
								</div>
							</div>
							<div class="card facebook-card" style="box-shadow: none;">

								<div class="card-content"><img src="imgs/jdcontent2.jpg" width="100%"></div>
								<p class="psmall">
									人生不可能是一场说走就走的旅行，但心怀远方的人，一定要时刻做着说走就走的准备（^v^)咿呀快活啊反正有大把时光
								</p>
								<div class="card-footer">

									<a href="#" class="link">
										<img src="./imgs/tou1.png" style="width: 1.5rem;" />Laurina 在晋安
									</a>
									<a href="#" class="link">10100 浏览 · 7890 回复</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="content-block-title">
								<div class="content-padded">
									<p class="pbig">心玩野了，就收不回来了</p>
								</div>
							</div>
							<div class="card facebook-card" style="box-shadow: none;">

								<div class="card-content"><img src="imgs/jdcontent3.jpg" width="100%"></div>
								<p class="psmall">
									人生不可能是一场说走就走的旅行，但心怀远方的人，一定要时刻做着说走就走的准备（^v^)咿呀快活啊反正有大把时光
								</p>
								<div class="card-footer">

									<a href="#" class="link">
										<img src="./imgs/tou1.png" style="width: 1.5rem;" />Laurina 在晋安
									</a>
									<a href="#" class="link">10100 浏览 · 7890 回复</a>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

			<!--心玩野-->
			<div class="content-block">
				<div class="swiper-container swiper-container4" data-space-between='10'>
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="content-block-title">
								<div class="content-padded">
									<p class="pbig">心玩野了，就收不回来了</p>
								</div>
							</div>
							<div class="card facebook-card" style="box-shadow: none;">

								<div class="card-content"><img src="imgs/jdfoot1.jpg" width="100%"></div>
								<p class="psmall">
									人生不可能是一场说走就走的旅行，但心怀远方的人，一定要时刻做着说走就走的准备（^v^)咿呀快活啊反正有大把时光
								</p>
								<div class="card-footer">

									<a href="#" class="link">
										<img src="./imgs/tou1.png" style="width: 1.5rem;" />Laurina 在晋安
									</a>
									<a href="#" class="link">10100 浏览 · 7890 回复</a>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="content-block-title">
								<div class="content-padded">
									<p class="pbig">心玩野了，就收不回来了</p>
								</div>
							</div>
							<div class="card facebook-card" style="box-shadow: none;">

								<div class="card-content"><img src="imgs/jdfoot2.jpg" width="100%"></div>
								<p class="psmall">
									人生不可能是一场说走就走的旅行，但心怀远方的人，一定要时刻做着说走就走的准备（^v^)咿呀快活啊反正有大把时光
								</p>
								<div class="card-footer">

									<a href="#" class="link">
										<img src="./imgs/tou1.png" style="width: 1.5rem;" />Laurina 在晋安
									</a>
									<a href="#" class="link">10100 浏览 · 7890 回复</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="content-block-title">
								<div class="content-padded">
									<p class="pbig">心玩野了，就收不回来了</p>
								</div>
							</div>
							<div class="card facebook-card" style="box-shadow: none;">

								<div class="card-content"><img src="imgs/jdfoot3.jpg" width="100%"></div>
								<p class="psmall">
									人生不可能是一场说走就走的旅行，但心怀远方的人，一定要时刻做着说走就走的准备（^v^)咿呀快活啊反正有大把时光
								</p>
								<div class="card-footer">

									<a href="#" class="link">
										<img src="./imgs/tou1.png" style="width: 1.5rem;" />Laurina 在晋安
									</a>
									<a href="#" class="link">10100 浏览 · 7890 回复</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="content-block-title">
								<div class="content-padded">
									<p class="pbig">心玩野了，就收不回来了</p>
								</div>
							</div>
							<div class="card facebook-card" style="box-shadow: none;">

								<div class="card-content"><img src="imgs/jdfoot4.jpg" width="100%"></div>
								<p class="psmall">
									人生不可能是一场说走就走的旅行，但心怀远方的人，一定要时刻做着说走就走的准备（^v^)咿呀快活啊反正有大把时光
								</p>
								<div class="card-footer">

									<a href="#" class="link">
										<img src="./imgs/tou1.png" style="width: 1.5rem;" />Laurina 在晋安
									</a>
									<a href="#" class="link">10100 浏览 · 7890 回复</a>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
	</div>
	
</div>
<script type='text/javascript' src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
				
			<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
			<script type='text/javascript' src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
			<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

			<script type="text/javascript ">
				
				
				$.init();
			</script>
	</body>

</html>