<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的生活</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="gwc.css"/>

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

  </head>
  <body>
  	<div class="page-group">
        <div class="page page-current" id="index">
        	
  	<!--头部-->
  	<header class="bar bar-nav" style="background-color: #fff;">
    <a class="button button-link button-nav pull-left external" href="../首页.html" >
      <span class="icon icon-left"></span>
    </a>
    
    <div class="searchbar title" style="background-color: #fff;width: 70vw;margin-left: 10vw;">
    	<a class="searchbar-cancel">取消</a>
    	<div class="search-input" >
    		<label class="icon icon-search" for="search"></label>
    		<input style="border-radius: 20px; background-color: #eee;font-size: 16px;color: #999;" type="search" id='search' placeholder='奇异果' />
    	</div>
    </div>
    
    <a style="color: mediumseagreen;background-color: #fff;" class="button button-link button-nav pull-right" href="#" >
    	综合
      <span class="icon icon-down" style="font-size: 12px;"></span>
    </a>
  </header>
  	
  	
  	<!--页面开始-->
  	
  	<div class="content" style="background-color: #fff;">
  		<div class="buttons-tab">
  			<a href="#tab1" class="tab-link active button">全部</a>
  			<a href="#tab2" class="tab-link  button tt2">苹果</a>
  			<a href="#tab3" class="tab-link button tt3">草莓</a>
  			<a href="#tab4" class="tab-link button tt4">猕猴桃</a>
  			<a href="#tab5" class="tab-link button tt5">梨</a>
  		</div>
  		<div class="content-block">
  			<div class="tabs">
  				
  				<div id="tab1" class="tab active">
  					<div class="content-block">
  						<a href="#tab2" class="all tab-link t2">
  							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537938820685&di=2badc7e5ea89cb15eb234ffbedca3a13&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F37d12f2eb9389b508e646c9b8f35e5dde6116e64.jpg" alt="" /><br />
  							苹果
  						</a>
  						
  						
  						<a href="#tab3" class="all tab-link t3">
  							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537939145222&di=cd13f390513949f80d689efaa4ef4b72&imgtype=0&src=http%3A%2F%2Fimg1.jqw.com%2F2011%2F06%2F01%2F353910%2Fproduct%2Fb201106012116387355.jpg" alt="" /><br />
  							草莓
  						</a>
  						
  						
  						<a href="#tab4" class="all tab-link t4">
  							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537939122592&di=55e46d251f737c2bd8cdde1e98ac9feb&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F7a899e510fb30f24d57c9f25c295d143ad4b0335.jpg" alt="" /><br />
  							猕猴桃
  						</a>
  						
  						
  						<a href="#tab5" class="all tab-link t5">
  							<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537939077312&di=2fabe1586fb2c54a58dad400c4344229&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F5d6034a85edf8db119318b400323dd54564e74f3.jpg" alt="" /><br />
  							梨
  						</a>
  						
  					</div>
  				</div>
  				
  				
  				
  				
  				<div id="tab2" class="tab ">
  					<div class="content-block" >
  						
  						<!--购物车-->
  						<a class="gwc" href="#gwc">
  							<span class="icon icon-cart"></span>
  							<span class="badgegwc count">0</span>
  						</a>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1649804133,498898485&fm=26&gp=0.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥29.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537870222598&di=9068528ceb1fc75572a985e2b0ec2613&imgtype=0&src=http%3A%2F%2Fimg.mp.sohu.com%2Fupload%2F20170809%2F90ca887973cf4070ad9c5251583bd4f2_th.png" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>优选幸福家园果园阳光苹果 5斤</h3>
  							
  							<p>每天一颗 水润超甜蜜</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥46.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538465003&di=bbaccfbb520a7250f3afb197dea88fab&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Ff2deb48f8c5494eebfd0003326f5e0fe99257e2d.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥65.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=94102164,1063761529&fm=26&gp=0.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>稀有 巨营养</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥46.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538465052&di=63384b5ce31ace27ba99eda32fd0baaa&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D29ccdd91aaec08fa320d1be431875718%2F503d269759ee3d6d8b34fee549166d224f4ade2a.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥55.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537870321067&di=c02020e0cf0cbcc1e4740625bca37925&imgtype=0&src=http%3A%2F%2Fimg1.cache.netease.com%2Fcatchpic%2F6%2F6C%2F6CADAD29C501FE2275E77058435B0E7D.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥73.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  					</div>
  				</div>
  				
  				
  				
  				
  				<div id="tab4" class="tab">
  					<div class="content-block">
  						<!--购物车-->
  						<a class="gwc" href="#gwc">
  							<span class="icon icon-cart"></span>
  							<span class="badgegwc count">0</span>
  						</a>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1249309404,4274442736&fm=26&gp=0.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>挂羊头卖狗肉了解一下 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥29.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537871577460&di=8ba4d3652e8ddac967a2eedbfc9c71ff&imgtype=0&src=http%3A%2F%2Fwww.029mht.com%2Flike%2Fwp-content%2Fuploads%2F2013%2F06%2F20130308104649144324.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>优选幸福家园果园阳光苹果 5斤</h3>
  							
  							<p>每天一颗 水润超甜蜜</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥46.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=1205372546,1155224695&fm=26&gp=0.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥65.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=94102164,1063761529&fm=26&gp=0.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>稀有 巨营养</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥46.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538465052&di=63384b5ce31ace27ba99eda32fd0baaa&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D29ccdd91aaec08fa320d1be431875718%2F503d269759ee3d6d8b34fee549166d224f4ade2a.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥55.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537870321067&di=c02020e0cf0cbcc1e4740625bca37925&imgtype=0&src=http%3A%2F%2Fimg1.cache.netease.com%2Fcatchpic%2F6%2F6C%2F6CADAD29C501FE2275E77058435B0E7D.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥73.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  					</div>
  				</div>
  				
  				
  				
  				<div id="tab5" class="tab">
  					<div class="content-block">
  						<!--购物车-->
  						<a class="gwc" href="#gwc">
  							<span class="icon icon-cart"></span>
  							<span class="badgegwc count">0</span>
  						</a>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538466672&di=3c552045ab2134c92e70afdad9882a1e&imgtype=jpg&er=1&src=http%3A%2F%2Fimg1.gtimg.com%2Frushidao%2Fpics%2Fhv1%2F232%2F10%2F1735%2F112821157.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>挂羊头卖狗肉了解一下 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥29.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538466705&di=8854cb3c213bd67f224e9c2df48eee4f&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F11385343fbf2b21170d8c76bc08065380cd78e25.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>优选幸福家园果园阳光苹果 5斤</h3>
  							
  							<p>每天一颗 水润超甜蜜</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥46.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537871959976&di=62c49e2268c187440d48eb63445d74ed&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F5d6034a85edf8db119318b400323dd54564e74f3.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥65.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=94102164,1063761529&fm=26&gp=0.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>稀有 巨营养</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥46.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538465052&di=63384b5ce31ace27ba99eda32fd0baaa&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D29ccdd91aaec08fa320d1be431875718%2F503d269759ee3d6d8b34fee549166d224f4ade2a.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥55.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537870321067&di=c02020e0cf0cbcc1e4740625bca37925&imgtype=0&src=http%3A%2F%2Fimg1.cache.netease.com%2Fcatchpic%2F6%2F6C%2F6CADAD29C501FE2275E77058435B0E7D.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥73.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  					</div>
  				</div>
  				
  				
  				
  				<div id="tab3" class="tab">
  					<div class="content-block">
  						<!--购物车-->
  						<a class="gwc" href="#gwc">
  							<span class="icon icon-cart"></span>
  							<span class="badgegwc count">0</span>
  						</a>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537871465503&di=cb453746351b5a130611d00aafa0123a&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01790e58501969a8012060c8fd6e09.jpg%401280w_1l_2o_100sh.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>挂羊头卖狗肉了解一下 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥29.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537871491183&di=7bcfd3856f836c331576eb42b8b3994b&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fd31b0ef41bd5ad6efd5efd778bcb39dbb7fd3c83.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>优选幸福家园果园阳光苹果 5斤</h3>
  							
  							<p>每天一颗 水润超甜蜜</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥46.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538465003&di=bbaccfbb520a7250f3afb197dea88fab&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Ff2deb48f8c5494eebfd0003326f5e0fe99257e2d.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥65.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=94102164,1063761529&fm=26&gp=0.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>稀有 巨营养</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥46.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538465052&di=63384b5ce31ace27ba99eda32fd0baaa&imgtype=jpg&er=1&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D29ccdd91aaec08fa320d1be431875718%2F503d269759ee3d6d8b34fee549166d224f4ade2a.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥55.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  						<div class="buyList " style="width: 100%;margin: 0;">
  							
  							<div class="buyLeft ">
  								<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537870321067&di=c02020e0cf0cbcc1e4740625bca37925&imgtype=0&src=http%3A%2F%2Fimg1.cache.netease.com%2Fcatchpic%2F6%2F6C%2F6CADAD29C501FE2275E77058435B0E7D.jpg" height="100px" width="100px" />
  							</div>
  							<div class="buyRight ">
  								<h3>巨无霸-佳菲果园阳光苹果 5斤</h3>
  							
  							<p>能量巨果一口清脆过瘾</p>
  							<p>月售300 &nbsp;&nbsp;&nbsp;&nbsp;赞235</p>
  							<div class="price">
  								￥73.<span style="font-size: 16px;">90</span> &nbsp;&nbsp;&nbsp;&nbsp;<span style="color: limegreen;font-size: 12px;border: 1px solid limegreen; border-radius: 5px;padding: 1px;">次日达</span>
  								<a href="#" class="add" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">+</a>
  					<a class="num" style="float: right;margin: 0 10px;line-height: 3vh;">0</a>
  					<a class="del" href="#" style="width: 3vh;height: 3vh; display: inline-block;float: right;color: limegreen;border: 1px solid limegreen;border-radius: 50%;line-height: 3vh;font-size: 26px;text-align: center;">-</a>
  							</div >
  							</div>
  						</div>
  						
  					</div>
  				</div>
  				
  				
  				
  				
  				
  			</div>
  		</div>
  	</div>
    

        </div>
        
        
        <div class="page" id="gwc">
        	<header class="bar bar-nav">
        		<a style="color: black;" class="button button-link button-nav pull-left back" href="/demos/card" data-transition='slide-out'>
        			<span class="icon icon-left"></span>
        		</a>
        		<h1 class="title">购物车</h1>
        	</header>
        	<div class="content contentadd">
        		<div class="dizhi" style="font-size: 3vh;">
        			<span class="icon icon-edit"></span> 添加地址
        			<a  style="float: right;color: #ccc;">
        				<span class="icon icon-right" ></span>
        			</a>
        		</div>
        	</div>
        	
        	<div class="content content2">
        		<a  class="select"><span class="icon icon-check"></span></a>
        		<div>
        			<p style="color: #999;font-size: 2vh;margin: 0;">总重约2.50kg <a style="color: #999;float: right;">80kg以下，满100包邮，还差<span style="color: darkorange;">70.10</span>元</a></p>
        			
        			<div style="margin: 3vh 0vw  0 4vh">
        				<img style="float: left;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537870321067&di=c02020e0cf0cbcc1e4740625bca37925&imgtype=0&src=http%3A%2F%2Fimg1.cache.netease.com%2Fcatchpic%2F6%2F6C%2F6CADAD29C501FE2275E77058435B0E7D.jpg"   />
        					<div style="float: left;margin-left: 3vw;width: calc(100% - 19vh);">
        						<p>佳菲果园苹果</p>
        						<div style="margin-top: 3vh;color: #bbb;font-size: 4vw;">5斤 
        							<div class="count">
        								<a style="color: #999;margin-right: 2vw;">-</a>
        								1 
        								<a style="border: 1px solid yellowgreen;color: yellowgreen;margin-left: 2vw;">+</a>
        							</div>
        						</div>
        						
        						<div style="margin-top: 1vh; color: darkorange;font-size: 6vw;position: relative;">
        							￥29.<span style="font-size: 4vw;">90</span>	
        							<a style="color: yellowgreen;border: 1px solid yellowgreen; font-size: 1vh;position: absolute;left: 20vw;margin-top: 1vh;border-radius: 1vw;padding: 1px;">次日达</a>
        						</div>
        					</div>
        			</div>
        			
        		</div>
        	</div>
        	
        	<div class="content3">
        		<a  class="select"><span class="icon icon-check" style="position: relative;top: -2.5vh;"></span></a>
        		<div style="margin-left: 4vh;">全选
        		<div style="display: inline-block;float: right;font-size: 5vw;color: yellowgreen;">
        			￥29.<span style="font-size: 3vw;">90</span> <a href="#jiesuan" style="line-height: 5vh; height: 5vh; display: inline-block;font-size: 3vh;" class="button button-fill button-success">结算	 （1）</a>
        		</div>
        		</div>
        	</div>
        </div>
        
        
        <!--结算界面-->
        <div class="page" id="jiesuan">
        	<header class="bar bar-nav">
        		<a style="color: black;" class="button button-link button-nav pull-left back" href="/demos/card" data-transition='slide-out'>
        			<span class="icon icon-left"></span>
        		</a>
        		<h1 class="title">支付订单</h1>
        	</header>
        	<div class="content">
        		<img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=1391135900,1156781092&fm=26&gp=0.jpg" width="100%" height="20%" style="border-radius: 0; height="2rem""/>
        	<div style="background-color: white;padding: 1rem;">
        		<h3 style="margin: 0;">恭喜您是我们今天的第一位用户，获得了免单优惠~</h3>
        	</div>
        	
        	<div class="choose">
        		<div style="font-size: 3vh;">乌托邦支付<span style="font-size: 2.2vh;color: yellowgreen;"> （立减5元）</span>
        			<p style="margin:  0;font-size: 2vh;color: #ccc;">信用卡储蓄卡支付，无需开通网银</p>
        		</div>
        		<div class="right"></div>
        	</div>
        	
        	
        	<div class="choose" style="line-height: 8.5vh;">
        		支付宝支付
        		<div class="right"></div>
        	</div>
        	
        	<div class="choose" style="line-height: 8.5vh;margin-top: 0.4vh;">
        		微信支付
        		<div class="right"></div>
        	</div>
        	
        	
        	
        	
        		
        		<div id="pay" class="button button-fill button-success" style="width: 60%;margin: 3rem auto 0;font-size: 1rem;height: 2rem;line-height: 2rem;">确认支付 ￥0.0</div>
        		
        	</div>
        	
        </div>
        
        
    </div>

    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
    <script type="text/javascript">
//  	location.reload()
			
			

    	$('div#pay').click(function(){
    		$.toast("付款成功");
    		window.location.href='#index'
    		setTimeout(function(){
    			location.reload()
    		},800)
    	})
    	
    	var count = Number($('span.count').text());
    	    	
    	$('a.add').click(function(){
    		var index = $("a.add").index(this);
    		var num = $('a.num').eq(index).text()
    		num=(Number(num)+1);
    		count = count+1;
    		$('a.num').eq(index).text(num)
    		$('span.count').text(count)
    		$('span.count').eq(1).text(count)
    		$('span.count').eq(2).text(count)
    		$('span.count').eq(3).text(count)
    	})
    	
    	$('a.del').click(function(){
    		var index = $("a.del").index(this);
    		var num = $('a.num').eq(index).text()
    		if(num>0){
    		num=(Number(num)-1);
    		count = count-1;
    		$('a.num').eq(index).text(num)
    		$('span.count').text(count)
    		$('span.count').eq(1).text(count)
    		$('span.count').eq(2).text(count)
    		$('span.count').eq(3).text(count)
    		}
    	})
    	
    	$('a.bar-nav').click(function(){
    		setTimeout(function(){
    			location.reload()
    		},800)
    	})
    	
    	var v = 0;
    	$('div.right').click(function(){
    		var index = $("div.right").index(this);
    		if(v==0){
    			v=1;
    			$("div.right").removeClass('chose')
    			$("div.right").text('')
    			$("div.right").eq(index).text('√')
    			$("div.right").eq(index).addClass('chose')
    		}else{
    			v=0;
    			$("div.right").eq(index).text('')
    			$("div.right").eq(index).removeClass('chose')
    		}
    	})
    	
    	$('a.t2').click(function(){
    		$('a.tt2').addClass('active')
    	})
    	$('a.t3').click(function(){
    		$('a.tt3').addClass('active')
    	})
    	$('a.t4').click(function(){
    		$('a.tt4').addClass('active')
    	})
    	$('a.t5').click(function(){
    		$('a.tt5').addClass('active')
    	})
    	
    	
    </script>

  </body>
</html>