<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>娱乐</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">


		<style type="text/css">
			.changee {
				display: inline-block;
			}
			.shangmian{
				position: relative;
				z-index: 20;
			}
			img{
				border-radius: 10px;
				margin: 10px 0;
			}
			hdp img{
				height: 100px;width: 200px;
				
			}
			div.playitem{
				text-align: left;
				height: 80px;
				width: 100%;
				margin-bottom: 50px;
			}
			.itemleft{
				width: 60%;
				height: 80px;
				float: left;
			}
			.itemright{
				width: 36%;
				height: 80px;
				float: right;
			}
			.itemright img{
				width: 100%;
				height: 80px;
			}
			.itemleft h3{
				margin: 0;
				font-weight: 400;
				font-size: 19px;
			}
			.bar::after{
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="page" >
			<header class="bar bar-nav" style="background: none;z-index: 3000;border: none;outline: none;" >
			<a class="icon icon-left pull-left back" style="color: #fff;"></a>
			<a class="icon icon-search pull-right" style="color: #fff;"></a>
		</header>
		
			
			
			<div class="content" style="text-align: center; background-color: #fff;margin-top: -50px;">
				<div class="bar bar-nav" style="overflow: hidden; position: relative; height: 200px;color:#fff; background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537848267437&di=fd579adebc9f0d4bffeb7f0dc15e9358&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Faa18972bd40735fa890112a694510fb30f24083f.jpg) 0px 0px no-repeat;background-size: 100% 100%;">
				<!--遮罩层-->
				<div style="position: absolute;width: 4000px;height: 200px;background-color: rgba(0,0,0,0.1);left: 0px;"></div>
				
				<h1 class="title" style="color: #ddd;margin-top: 1.5vh;">娱乐
				</h1>
				<br />
				<br />
				<br />
				<p class="shangmian" style="color: #ddd; width: 300px; text-align: center;font-size: 17px;margin: 0 auto;padding-bottom: 10px;">娱乐推荐</p>
				<p class="shangmian" style=" color: #ddd; width: 300px; text-align: center;font-size: 16px;margin: 0 auto;">上班累了，读书乏了，那就停下来为自己疯狂一次，尽情的嗨</p>
			</div>
				
				<h3 style="font-weight: 400;">—— 最好玩的 ——</h3>
				<!-- 幻灯片 -->
				
					<!-- Slider -->
					<div class="swiper-container hdp" data-space-between='5' style="padding: 0;">
						<div class="swiper-wrapper" >
							<div class="swiper-slide" style="position: relative;" >
								
								<!--遮罩-->
								
								<div style="display: inline-block;position: relative;">
									<div style="width: 150px;height: 100px;background-color: rgba(0,0,0,0.2);position: absolute;left: 10px;color: #fff;line-height: 100px;border-radius: 10px;">滑草</div>
									
							<img style="height: 100px;display: inline-block;margin: 0 10px;" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538443861&di=dbe7384175ea883aa42b487f567b572f&imgtype=jpg&er=1&src=http%3A%2F%2Fs9.rr.itc.cn%2Fr%2FwapChange%2F20168_9_10%2Fa9rkjp0229703175839.jpg" alt=""></div>
							
							
							<div style="display: inline-block;position: relative;">
								<div style="width: 150px;height: 100px;background-color: rgba(0,0,0,0.2);position: absolute;left: 10px;color: #fff;line-height: 100px;border-radius: 10px;">射箭</div>
								
							<img style="height: 100px;display: inline-block;margin: 0 10px;"  src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538443915&di=bdb923459916da58d02edf5418164f52&imgtype=jpg&er=1&src=http%3A%2F%2Fimage.gxnews.com.cn%2Fuploadpic%2F2014%2F05%2F28%2Fb4ff0553f07c27d093b88b0a4722448f.jpg" alt=""></div></div>
							
							<div class="swiper-slide">
								<div style="display: inline-block;position: relative;">
								<div style="width: 150px;height: 100px;background-color: rgba(0,0,0,0.2);position: absolute;left: 10px;color: #fff;line-height: 100px;border-radius: 10px;">钓鱼</div>
								<img style="height: 100px;display: inline-block;margin: 0 10px;"  src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537849209861&di=3a08f355cfccb7d7f27aba26e02c780d&imgtype=0&src=http%3A%2F%2Fuploads.xuexila.com%2Fallimg%2F1702%2F981-1F20P93509.jpg" alt="">
								</div>
								
								<div style="display: inline-block;position: relative;">
								<div style="width: 150px;height: 100px;background-color: rgba(0,0,0,0.2);position: absolute;left: 10px;color: #fff;line-height: 100px;border-radius: 10px;">真人CS</div>
								<img style="height: 100px;display: inline-block;margin: 0 10px;"  src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538447043&di=b3094a5e7259e6c02b262b99841011de&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.hncmst.com%2FimageRepository%2Fd3a8810f-0aa3-40c3-a5d9-30cac7d29104.jpg" alt="">
								</div>
								</div>
						</div>

					</div>
					
					
					
				<h3 style="font-weight: 400;">—— 全部娱乐 ——</h3>
				<div class="content-block">
					
					<!---->
				<div  class="playitem">
					<div class="itemleft">
						<h3 style="color: black;">真人CS <span style="font-size: 21px;color: darkorange;"> ￥25.<b style="font-weight: 400;font-size: 12px;">50</b>/人</span></h3>
						<p style="font-size: 12px;line-height: 16px;color: #999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">地址：南屿镇双龙村（福州黎明职业...</p>
						<p style="font-size: 12px;line-height: 16px;color: #999;">评分：<span style="font-size: 21px;color: darkorange;">★★★★☆</span> </p>
					</div>
					<div class="itemright">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538447043&di=b3094a5e7259e6c02b262b99841011de&imgtype=jpg&er=1&src=http%3A%2F%2Fwww.hncmst.com%2FimageRepository%2Fd3a8810f-0aa3-40c3-a5d9-30cac7d29104.jpg" alt="" />
					</div>
					
				</div>
				
				<!--钓鱼-->
				<div  class="playitem">
					<div class="itemleft">
						<h3 style="color: black;">钓鱼 <span style="font-size: 21px;color: darkorange;"> ￥45.<b style="font-weight: 400;font-size: 12px;">50</b>/人</span></h3>
						<p style="font-size: 12px;line-height: 16px;color: #999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">地址：南屿镇双龙村（福州黎明职业...</p>
						<p style="font-size: 12px;line-height: 16px;color: #999;">评分：<span style="font-size: 21px;color: darkorange;">★★★★☆</span> </p>
					</div>
					<div class="itemright">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1537849209861&di=3a08f355cfccb7d7f27aba26e02c780d&imgtype=0&src=http%3A%2F%2Fuploads.xuexila.com%2Fallimg%2F1702%2F981-1F20P93509.jpg" alt="" />
					</div>
					
				</div>
				
				
				
				
				<!--滑草-->
				<div  class="playitem">
					<div class="itemleft">
						<h3 style="color: black;">滑草 <span style="font-size: 21px;color: darkorange;"> ￥65.<b style="font-weight: 400;font-size: 12px;">50</b>/人</span></h3>
						<p style="font-size: 12px;line-height: 16px;color: #999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">地址：南屿镇双龙村（福州黎明职业...</p>
						<p style="font-size: 12px;line-height: 16px;color: #999;">评分：<span style="font-size: 21px;color: darkorange;">★★★★☆</span> </p>
					</div>
					<div class="itemright">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538443861&di=dbe7384175ea883aa42b487f567b572f&imgtype=jpg&er=1&src=http%3A%2F%2Fs9.rr.itc.cn%2Fr%2FwapChange%2F20168_9_10%2Fa9rkjp0229703175839.jpg" alt="" />
					</div>
					
				</div>
				
				
				
				<!--射箭-->
				<div  class="playitem">
					<div class="itemleft">
						<h3 style="color: black;">射箭 <span style="font-size: 21px;color: darkorange;"> ￥75.<b style="font-weight: 400;font-size: 12px;">50</b>/人</span></h3>
						<p style="font-size: 12px;line-height: 16px;color: #999;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">地址：南屿镇双龙村（福州黎明职业...</p>
						<p style="font-size: 12px;line-height: 16px;color: #999;">评分：<span style="font-size: 21px;color: darkorange;">★★★★☆</span> </p>
					</div>
					<div class="itemright">
						<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1538443915&di=bdb923459916da58d02edf5418164f52&imgtype=jpg&er=1&src=http%3A%2F%2Fimage.gxnews.com.cn%2Fuploadpic%2F2014%2F05%2F28%2Fb4ff0553f07c27d093b88b0a4722448f.jpg" alt="" />
					</div>
					
				</div>
				
				
						
						
						
				</div>			

			</div>
		</div>
		
		
		
		
		
		

		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
		<script type="text/javascript">
			$.init()
			
		</script>
	</body>

</html>