<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="css/mine.css"/>
	<link rel="stylesheet" type="text/css" href="css/yhk.css"/>
    

  </head>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<a class="icon icon-left pull-left back"></a>
			<a class="icon pull-right" href="#" style="width: 50px; font-size: 16px; color: black;">账单</a>
			<!--<h1 class="title">设置</h1>-->
		</header>
		<div class="content bal-con">
			<div class="list-block bal-blo">
				<div class="bal">
					<span>账户余额（元）</span>
					<br />
					<strong>￥1829.09</strong>
				</div>
				<div class="ct">
					<a href="">
						<img src="wdimgs/余额1.png" />
						<span>充值</span>
					</a>
					<a href="">
						<img src="wdimgs/余额2.png" />
						<span>提现</span>
					</a>
				</div>
			</div>
			<div class="list-block item-two">
				<div>
					<p>本月支出</p>
					<span style="color: green;">￥400↓</span>
				</div>
				<div>
					<p>本月支出</p>
					<span style="color: red;">￥200↑</span>
				</div>
			</div>
			<div class="content-block-title">农场总收益（元）</div>
			<div class="list-block item-srs">
				<p class="p">￥1000.09</p>
				<div class="item-sr">
					<ul>
						<li>
							<p></p>
							<span>蔬菜</span>
							<span>450</span>
							<span>45%</span>
						</li>
						<li>
							<p></p>
							<span>水果</span>
							<span>200</span>
							<span>20%</span>
						</li>
						<li>
							<p></p>
							<span>家禽</span>
							<span>200</span>
							<span>20%</span>
						</li>
						<li>
							<p></p>
							<span>鱼塘</span>
							<span>150.09</span>
							<span>15%</span>
						</li>
					</ul>
					<img src="wdimgs/余额-圈.png"/>
				</div>
			</div>
			<div class="content-block-title">最近交易记录</div>
			<div class="list-block item-jl">
				<div>
					<p>周日<br>08/20</p>
					<p>家禽<br>我的农场出售土鸡</p>
					<p class="pull-right red">+200</p>
				</div>
				<div>
					<p>周六<br>08/19</p>
					<p>农家乐<br>龙泉山庄农家乐游玩</p>
					<p class="pull-right green">-400</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
</html>
