<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="css/mine.css"/>
	<link rel="stylesheet" type="text/css" href="css/yhk.css"/>
	<style type="text/css">
		.yj{
			position: relative;
		}
		.yj .yj-srk{
			background-color: white;
			position: fixed;
			bottom: 0;
			left: 0;
			height: 2rem;
			width: 100%;
			line-height: 1.8rem;
		}
		input{
			margin-left: 1.5rem;
			border: none;
		}
		label{
			position: absolute;
			top: 2px;
			left: 2px;
		}
		
	</style>
  </head>
  <body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<a class="icon icon-left pull-left back"></a>
			<h1 class="title">意见反馈</h1>
		</header>
		<div class="content yj">
			<!--<div class="yj-xt">
				<div class="xt1">邦</div>
				<div class="xt2">
					Hi，欢迎使用乌托邦，我是你的乌托邦小秘书，任何关于产品使用和服务的问题，都可以和我交流，随时在这里留言，我会尽快回复的~
				</div>
			</div>
			<div class="yj-yh">
				<div class="yh1">好的</div>
				<div class="yh2"><img src="wdimgs/收藏头像1.png"/></div>
			</div>-->
			<img src="wdimgs/yjfk2.png"/>
			<div class="yj-srk">
				<label class="icon icon-edit" for="search"></label>
				<input type="text" id='search' placeholder='想对我说点什么？' />
				<span class="pull-right" style="color: #666;">发送</span>
			</div>
		</div>
	</div>
</div>
	<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
</html>

