
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="css/mine.css"/>
	<link rel="stylesheet" type="text/css" href="css/yhk.css"/>
    

  </head>
  <body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<a class="icon icon-left pull-left back"></a>
			<!--<a class="icon pull-right" href="#" style="font-size: 38px;;">+</a>-->
			<h1 class="title">我的资料</h1>
		</header>
		<div class="content zl">
			<div class="list-block zl-one">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">头像</div>
							<div class="item-after"><img src="wdimgs/头像1.jpg"/></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-block zl-two">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">昵称</div>
							<div class="item-after">采菊东篱下</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">性别</div>
							<div class="item-after">男</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">生日</div>
							<div class="item-after">1988-10-01</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">常驻地</div>
							<div class="item-after">福建福州</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="list-block zl-three">
				<ul>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">手机号</div>
							<div class="item-after">182****5453</div>
						</div>
					</li>
					<li class="item-content">
						<div class="item-inner">
							<div class="item-title">邮箱</div>
							<div class="item-after">2558647841@qq.com</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	<!--<script type="text/javascript">
//		var str1=[
//			{title:'昵称',name:'采菊东篱下'},
//			{title:'性别',name:'男'},
//			{title:'生日',name:'1988-10-01'},
//			{title:'常驻地',name:'福建福州'}
//		]
//		var str2=[
//			{title:'手机号',name:'182****5453'},
//			{title:'邮箱',name:'2558647841@qq.com'}
//		]
//		
//		str1.forEach(function(item,index){
//			var Str1+=`
//				<li class="item-content">
//					<div class="item-inner">
//						<div class="item-title">item.name.title</div>
//							<div class="item-after">item.name</div>
//					</div>
//				</li>
//			`
//			console.log(item);
//		})
//		$('zl-two').find('ul').append(Str1);
//		str2.forEach(function(item,index){
//			var Str2+='<li class="item-content"><div class="item-inner"><div class="item-title">item.title</div><div class="item-after">item.name</div></div></li>'
//			console.log(item);
//		})
		
//		$('zl-three').find('ul').append(Str2);
	</script>-->
</div>
	<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
</html>


