<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="css/mine.css"/>
	<link rel="stylesheet" type="text/css" href="css/yhk.css"/>
    

  </head>
  <body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<a class="icon icon-left pull-left back"></a>
			<a class="icon icon-search pull-right sc-al"></a>
			<h1 class="title">我的收藏</h1>
		</header>
		<div class="content wdsc">
			<div class="card">
			<div class="card-header no-border">
				<div class="facebook-avatar"><img src="wdimgs/收藏头像1.png" width="50px" height="50px"></div>
				<div class="facebook-name" style="margin-left: -4rem;">
					<p>土里小飞龙</p>
					<p>2017.10.01 18:01</p>
				</div>
				<div class="facebook-date">
					<p><a href="#" class="button button-fill button-success pull-right">关注</a></p>
				</div>
			</div>
				<div class="card-content">
					<div class="card-content-inner">
						<p class="sc-over">大溪村村里几乎家家都开农家乐，是目前安吉规模最大的农家乐村。相比安吉其他地方的农家乐，大溪村最大的优势在于周边的景区，像江南天地、藏龙瀑布、九龙峡距离大溪村都不超过2公里。在大西村北部。。。啦啦啦啦啦啦，我是卖报的小行家</p>
						<div class="sc-img">
							<img src="wdimgs/收藏1-1.jpg" alt="" />
							<img src="wdimgs/收藏1-2.jpg" alt="" />
							<img src="wdimgs/收藏1-3.jpg" alt="" />
						</div>
					</div>
				</div>
				<div class="card-footer">
					<p style="font-size: 0.8rem;">
						<span>321&nbsp;点赞&#x3000;</span>
						<span>·&#x3000;59&nbsp;回复</span>
					</p>
					<img src="wdimgs/收藏星星.png" class="pull-right sc-xx"/>
				</div>
			</div>
			<div class="card">
				<div class="card-header no-border">
					<div class="facebook-avatar"><img src="wdimgs/收藏头像2.png" width="50px" height="50px"></div>
					<div class="facebook-name" style="margin-left: -4rem;">
						<p>邦老湿</p>
						<p>2017..90.27 17:01</p>
					</div>
					<div class="facebook-date">
						<p><a href="#" class="button button-fill button-success pull-right">关注</a></p>
					</div>
				</div>
				<div class="card-content sc-twos">
					<div class="sc-two">
						<div>冬季又快要到了，这时我们该吃些什么来让自己好“过冬”呢？</div>
						<p>又是一年冬季，这样的天，相约三五好友、闺 蜜围桌而坐，经典的火锅热气萦绕，与周围朋友举杯欢庆...</p>
					</div>
					<img src="wdimgs/收藏2.png" style="width: 5.5rem; height: 5rem;"/>
				</div>
				<div class="card-footer">
					<p style="font-size: 0.8rem;">
						<span>321&nbsp;点赞&#x3000;</span>
						<span>·&#x3000;59&nbsp;回复</span>
					</p>
					<img src="wdimgs/收藏星星.png" class="pull-right sc-xx"/>
				</div>
			</div>
			
		</div>
	</div>
	<script type="text/javascript">
		$(document).on('click','.sc-al',function () {
	        $.alert('还没写，不要乱点了');
	     });
	</script>
</div>
	<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
</html>

