<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="css/mine.css"/>
	<link rel="stylesheet" type="text/css" href="css/yhk.css"/>
    

  </head>
  <body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<a href="" class="button button-link button-nav pull-left back">
				<span class="icon icon-left"></span>
				返回
			</a>
			<h1 class="title">我的订单</h1>
		</header>
		<div class="content dyq">
			<div class="buttons-tab fixed-tab" data-offset='44'>
				<a href="#tab1" class="tab-link active button">全部</a>
				<a href="#tab2" class="tab-link button">代付款</a>
				<a href="#tab3" class="tab-link button">待使用</a>
				<a href="#tab4" class="tab-link button">待收货</a>
				<a href="#tab5" class="tab-link button">待评价</a>
			</div>
			<div class="list-block my-dd">
				<div class="tabs">
					<div id="tab1" class="tab active">
						<div class="card">
							<div class="card-header">
								<div class="pull-left">
									<p>订单：201710286666</p>
									<p>日期：2017-10-28  11:20:35</p>
								</div>
								<div class="pull-right lightgreen">
									待使用
								</div>
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<img src="wdimgs/我的订单1.png" class="pull-left"/>
									<div class="pull-right">
										<p class="pull-left">福州闽侯县墨意山水高端<br />农家庄园体验<br /><br />单人票1张</p>
										<!--<p>单人票1张</p>-->
										<p class="pull-right qian">￥100<br />&#x3000;×1</p>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<p>
									商品总价：<del style="font-size: 1.2rem;">¥100.00</del>&#x3000;折扣价：￥<big style="color: orange;">20.00</big>
								</p>
								<br />
								<div style="text-align: right;">
									<p><a href="#" class="button button-light">申请退款</a></p>
									<p><a href="#" class="button button-fill button-success">&#x3000;详情&#x3000;</a></p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<div class="pull-left">
									<p>订单：201710206665</p>
									<p>日期：2017-10-20  11:32:35</p>
								</div>
								<div class="pull-right lightgreen">待收货</div>
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<img src="wdimgs/我的订单2.png" class="pull-left"/>
									<div class="pull-right">
										<p class="pull-left">福州闽侯县墨意山水高端<br />农家庄园绿色水果礼包<br /><br />火龙果2个，桃、蓝莓各2斤</p>
										<!--<p>单人票1张</p>-->
										<p class="pull-right qian">￥80<br />&#x3000;×1</p>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<p>
									商品总价：<del style="font-size: 1.2rem;">¥80.00</del>&#x3000;折扣价：￥<big style="color: orange;">20.00</big>
								</p>
								<br />
								<div style="text-align: right;">
									<p><a href="#" class="button button-light">申请退款</a></p>
									<p><a href="#" class="button button-fill button-success">&#x3000;详情&#x3000;</a></p>
									<p><a href="#" class="button button-light">物流追踪</a></p>
								</div>
							</div>
						</div>
					</div>
					<div id="tab2" class="tab">
						您还没有该状态的订单
					</div>
					<div id="tab3" class="tab">
						<div class="card">
							<div class="card-header">
								<div class="pull-left">
									<p>订单：201710286666</p>
									<p>日期：2017-10-28  11:20:35</p>
								</div>
								<div class="pull-right lightgreen">
									待使用
								</div>
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<img src="wdimgs/我的订单1.png" class="pull-left"/>
									<div class="pull-right">
										<p class="pull-left">福州闽侯县墨意山水高端<br />农家庄园体验<br /><br />单人票1张</p>
										<!--<p>单人票1张</p>-->
										<p class="pull-right qian">￥100<br />&#x3000;×1</p>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<p>
									商品总价：<del style="font-size: 1.2rem;">¥100.00</del>&#x3000;折扣价：￥<big style="color: orange;">20.00</big>
								</p>
								<br />
								<div style="text-align: right;">
									<p><a href="#" class="button button-light">申请退款</a></p>
									<p><a href="#" class="button button-fill button-success">&#x3000;详情&#x3000;</a></p>
								</div>
							</div>
						</div>
					</div>
					<div id="tab4" class="tab">
						<div class="card">
							<div class="card-header">
								<div class="pull-left">
									<p>订单：201710206665</p>
									<p>日期：2017-10-20  11:32:35</p>
								</div>
								<div class="pull-right lightgreen">待收货</div>
							</div>
							<div class="card-content">
								<div class="card-content-inner">
									<img src="wdimgs/我的订单2.png" class="pull-left"/>
									<div class="pull-right">
										<p class="pull-left">福州闽侯县墨意山水高端<br />农家庄园绿色水果礼包<br /><br />火龙果2个，桃、蓝莓各2斤</p>
										<!--<p>单人票1张</p>-->
										<p class="pull-right qian">￥80<br />&#x3000;×1</p>
									</div>
								</div>
							</div>
							<div class="card-footer">
								<p>
									商品总价：<del style="font-size: 1.2rem;">¥80.00</del>&#x3000;折扣价：￥<big style="color: orange;">20.00</big>
								</p>
								<br />
								<div style="text-align: right;">
									<p><a href="#" class="button button-light">申请退款</a></p>
									<p><a href="#" class="button button-fill button-success">&#x3000;详情&#x3000;</a></p>
									<p><a href="#" class="button button-light">物流追踪</a></p>
								</div>
							</div>
						</div>
					</div>
					<div id="tab5" class="tab">
						您还没有该状态的订单
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
</html>
