<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
    <link rel="stylesheet" type="text/css" href="css/mine.css"/>
	<link rel="stylesheet" type="text/css" href="css/yhk.css"/>
    

  </head>
  <body>
<div class="page-group">
	<div class="page">
		<header class="bar bar-nav">
			<a href="" class="button button-link button-nav pull-left back">
				<span class="icon icon-left"></span>
				返回
			</a>
			<h1 class="title">收货地址</h1>
		</header>
		<div class="content sh-address">
			<div class="card shdz">
				<div class="card-content">
					<div class="list-block">
						<ul>
							<li>
								<a href="#" class="item-link item-content">
									<div class="item-media"><img src="wdimgs/新增.png" /></div>
									<div class="item-inner">
										<div class="item-title">新增地址</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>	
			<div class="card">
				<div class="card-header">收货人信息</div>
				<div class="card-content">
					<div class="card-content-inner sh-inner">
						<div class="pull-left">
							<p style="padding-bottom: 0.5rem;">刘德华</p>
							<p><a href="#" class="button button-light">家</a></p>
						</div>
						<div class="pull-right" style="width: 13rem;">
							<p>18224511643</p>
							<p>福建省 福州市 闽侯县 高新区解放中路80号19 楼1903室</p>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<p class="pull-left"><a href="#" class="button button-fill button-success">默认</a></p>
					<div class="pull-right sh-sg">
						<a href="" class="alert-text">
							<span class="icon icon-edit"></span>
							修改
						</a>
						<a href="" class="alert-text">
							<span class="icon icon-remove"></span>
							删除
						</a>
					</div>
				</div>
				
			</div>
			<div class="card">
				<div class="card-content">
					<div class="card-content-inner sh-inner">
						<div class="pull-left">
							<p style="padding-bottom: 0.5rem;">刘德华</p>
							<p><a href="#" class="button">公司</a></p>
						</div>
						<div class="pull-right" style="width: 13rem;">
							<p>18224511643</p>
							<p>福建省 福州市 闽侯县 高新区解放中路80号19 楼1903室</p>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<p class="pull-left"><a href="#" class="button button-fill button-light">默认</a></p>
					<div class="pull-right sh-sg">
						<a href="" class="alert-text">
							<span class="icon icon-edit"></span>
							修改
						</a>
						<a href="" class="alert-text">
							<span class="icon icon-remove"></span>
							删除
						</a>
					</div>
				</div>
			</div>
		
	</div>
	</div>
	<!--<script type="text/javascript">
//		var msg=[
//			{name:'刘德华',tip:'家',phone:'18224511643',address:'福建省 福州市 闽侯县 高新区解放中路80号19 楼1903室',isM:true},
//			{name:'刘德华',tip:'公司',phone:'18224511643',address:'福建省 福州市 闽侯县 高新区田园路28号18楼 1806室',isM:false}
//		]
//		
//		for(var i=0;i<msg.length;i++){
//			console.log(msg[i].address);
//			console.log($('.sh-address'));
//			var str1=''
//			if(msg[i].isM){
//				str1=`
//				<div class="card">
//				<div class="card-header">收货人信息</div>
//				<div class="card-content">
//					<div class="card-content-inner sh-inner">
//						<div class="pull-left">
//							<p style="padding-bottom: 0.5rem;">msg[i].name</p>
//							<p><a href="#" class="button button-light">msg[i].tip</a></p>
//						</div>
//						<div class="pull-right" style="width: 13rem;">
//							<p>msg[i].phone</p>
//							<p>msg[i].address</p>
//						</div>
//					</div>
//				</div>
//				<div class="card-footer">
//					<p class="pull-left"><a href="#" class="button button-fill button-success">默认</a></p>
//					<div class="pull-right sh-sg">
//						<a href="" class="alert-text">
//							<span class="icon icon-edit"></span>
//							修改
//						</a>
//						<a href="" class="alert-text">
//							<span class="icon icon-remove"></span>
//							删除
//						</a>
//					</div>
//				</div>
//				
//			</div>
//			`
//				$('.sh-address').append(str1);
//			}else{
//				var str2=`
//				<div class="card">
//				<div class="card-content">
//					<div class="card-content-inner sh-inner">
//						<div class="pull-left">
//							<p style="padding-bottom: 0.5rem;">msg[i].name</p>
//							<p>
//								<p><a href="#" class="button">msg[i].tip</a></p>
//							</p>
//						</div>
//						<div class="pull-right" style="width: 13rem;">
//							<p>msg[i].phone</p>
//							<p>msg[i].address</p>
//						</div>
//					</div>
//				</div>
//				<div class="card-footer">
//					<p class="pull-left"><a href="#" class="button button-fill button-light">默认</a></p>
//					<div class="pull-right sh-sg">
//						<a href="" class="alert-text">
//							<span class="icon icon-edit"></span>
//							修改
//						</a>
//						<a href="" class="alert-text">
//							<span class="icon icon-remove"></span>
//							删除
//						</a>
//					</div>
//				</div>
//			</div>
//			`
//				$('.sh-address').append(str2);
//			}
//			
//		}
		$('.sh-sg').find('a').on('click',function(){
			$.alert('此功能还在编写中');
		})
		
	</script>-->
</div>
<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

  </body>
</html>
