<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>我的生活</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
		<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
		<link rel="stylesheet" type="text/css" href="../css/yhk.css"/>
	</head>

	<body>

		
		<div class="page-group">
			<div class="page">
				<!-- 你的html代码 -->
				<header class="bar bar-nav">
					<a class="icon icon-left pull-left back"></a>
					<a class="icon pull-right" href="#" style="font-size: 38px;">+</a>
					<h1 class="title">银行卡</h1>
				</header>

				<div class="content">
					<div class="card">
						<div class="card-content">
							<div class="item-tp">
								<img src="wdimgs/工商银行.png"/>
								<div>
									<p>工商银行<small>快捷支付</small></p>
									<p>储蓄卡</p>
								</div>
							</div>
							<div class="item-kh">
								<strong>6222&#x3000;&#x3000;<span>****</span>&#x3000;&#x3000;<span>****</span>&#x3000;&#x3000;1650</strong>
							</div>
							<div class="item-rq">
								<span>添加日期：2016/07/16</span>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-content">
							<div class="item-tp">
								<img src="wdimgs/建设银行.png"/>
								<div>
									<p>中国建设银行<small>快捷支付</small></p>
									<p>储蓄卡</p>
								</div>
							</div>
							<div class="item-kh">
								<strong>6236&#x3000;&#x3000;<span>****</span>&#x3000;&#x3000;<span>****</span>&#x3000;&#x3000;7743</strong>
							</div>
							<div class="item-rq">
								<span>添加日期：2016/05/16</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
		<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>

	</body>

</html>